<%- include("main/header"); -%>
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
<style>
    .swiper-container {
            width: 100vw;
            height: 93vh;
            margin-left: auto;
            margin-right: auto;
         
        }
nav{
    position: sticky !important;
}
        .swiper-slide {
            text-align: center;
      
            background: #fdfcfc;
           
  
            /* Center slide text vertically */
           
        }
        .teamcard{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            line-height:22px ;
            text-align: center;
            padding: 10px;
          box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.116);
            border-radius: 5px;
        }
  
</style>

    <div  class="main" style="position: relative;"> 
       
        
         
             
                <br><br><br>
                <div class="container">
                    <div class="row" style="min-height: 70vh;">
                        <div class="col col-12 col-md-5 my-auto">
                            <h1 class="w-100" style="text-align: center;">About AceCare</h1><br>Coronaviruses, like the new COVID-19 outbreak that began in China,
cause mild to severe respiratory illness including death. COVID-19 has
since spread worldwide. The best preventive measures include wearing a mask, staying
six feet apart, washing hands often, avoiding sick people, keeping your hands away from
your face and getting adequate rest and nutrition.When the virus travels in respiratory
droplets when an infected person coughs, sneezes, talks, sings or breathes near you (within six feet).
This is thought to be the main way COVID-19 is spread.
</div>
                         <div class="col col-12 col-md-7 my-auto">
                              <img src="assets/about2.svg" class="img-fluid" />
                         </div>
                    </div>
                </div>
            </div>
            <br><br><br>
         <div class="container">
              <div class="row">
                    <div class="col col-12"style="display:flex;justify-content:center;align-items:center;text-align:center;">     
                     <h1 class="pt-3 pb-3 w-100" style="background-color: #7986cb;color: #fff;">Our Team</h1></div>
                </div>
         </div>
                <br><br>
                 <div class="container pl-5 pr-5">
               
                    <div class="row pl-5 pr-5"  >
                        
                        <div class="col col-12 col-sm-6 col-md-3 my-auto mt-5" >
                           <div class="teamcard anim2">
                                <img src="assets/aman.jpg" alt="" class="img-fluid">
                            <h5 class="pt-2 " style="font-weight: 700;">Amandeep Singh (00214004420)</h5>
                            <p style="opacity: 0.7;"> Student @  Guru Gobind Singh Indraprashtha University</p>
                            <button class="btn w-100" style="background-color: #7986cb;color: #fff;">View Profile</button>
                           </div>
                        </div>
                            
                         <div class="col col-12 col-sm-6 col-md-3 my-auto mt-5" >
                           <div class="teamcard anim2">
                                <img src="assets/ritik.jpg" alt="" class="img-fluid">
                            <h5 class="pt-2 mx-auto" style="font-weight: 700;">Ritik Bhatnagar (35350404420)</h5>
                            <p style="opacity: 0.7;"> Student @  Guru Gobind Singh Indraprashtha University</p>
                            
                            <button class="btn w-100" style="background-color: #7986cb;color: #fff;">View Profile</button>
                           </div>
                        </div>
                               <div class="col col-12 col-sm-6 col-md-3 my-auto mt-5" >
                           <div class="teamcard anim2">
                                <img src="assets/kriti.jpg" alt="" class="img-fluid">
                            <h5 class="pt-2 " style="font-weight: 700;">Amandeep Singh (00214004420)</h5>
                            <p style="opacity: 0.7;"> Student @ Guru Gobind Singh Indraprashtha University</p>
                            <button class="btn w-100" style="background-color: #7986cb;color: #fff;">View Profile</button>
                           </div>
                        </div>
                              <div class="col col-12 col-sm-6 col-md-3 my-auto mt-5 " >
                           <div class="teamcard anim2">
                                <img src="assets/sanchit.jpg" alt="" class="img-fluid">
                            <h5 class="pt-2 " style="font-weight: 700;">Amandeep Singh (00214004420)</h5>
                            <p style="opacity: 0.7;">Student @ Guru Gobind Singh Indraprashtha University</p>
                            <button class="btn w-100" style="background-color: #7986cb;color: #fff;">View Profile</button>
                           </div>
                        </div>
                              
                         </div>
                    </div>
                    <br><br>
                </div>
           
           
    
        <!-- Add Pagination -->
      
   

    <!-- Initialize Swiper -->
  

<%- include("main/footer"); -%>