<%- include("main/header"); -%>

<div class="main container" style="padding-top: 7vh">
  <!--code start-->
  <h1 style="text-align: center">
    <div class="alert alert-success" role="alert">
      <a href=""
        ><p class="textblack">COVID-19 TIPS</p>
        <span class="badge badge-secondary topbadge"></span
      ></a>
    </div>
  </h1>
  <div class="row mb-2">
    <div class="col-md-6">
      <div
        class="rog-0
          border
          rounded
          overflow-hidden
          flex-md-row
          mb-4
          shadow-sm
          h-md-250
          position-relative
        "
      >
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">ONE</strong>
          <h3 class="mb-0">Stay HOme</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">
            Regularly clean work surfaces and objects in continual use, such as
            phones and computer keyboards. Regularly wash the hands with soap
            and water or use sanitizer.
          </p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="assets/t4.jpg" width="250" height="250" />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div
        class="
          row
          g-0
          border
          rounded
          overflow-hidden
          flex-md-row
          mb-4
          shadow-sm
          h-md-250
          position-relative
        "
      >
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">TWO</strong>
          <h3 class="mb-0">Modified Your Symptoms</h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="mb-auto">
            It include fever, cough, and shortness of breath but other symptoms
            may be present as well. Trouble breathing is a more serious warning
            sign that you need medical attention.
          </p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="assets/modi ur symptoms.jpg" width="250" height="250" />
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-6">
      <div
        class="
          row
          g-0
          border
          rounded
          overflow-hidden
          flex-md-row
          mb-4
          shadow-sm
          h-md-250
          position-relative
        "
      >
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">THREE</strong>
          <h3 class="mb-0">Get Rest</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">
            With a confirmed positive COVID-19 test, you are most likely being
            sent home to rest, stay away from others, and recover. This is the
            case for more than 95% of people, as their symptoms do not require
            hospitalization. Some people have a higher risk for complications
            and should be monitored extra closely.
          </p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="assets/get rest.jpg" width="250" height="250" />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div
        class="
          row
          g-0
          border
          rounded
          overflow-hidden
          flex-md-row
          mb-4
          shadow-sm
          h-md-250
          position-relative
        "
      >
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">FOUR</strong>
          <h3 class="mb-0">Call Health Care Provider</h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="mb-auto">
            Due to COVID-19, health care providers may increase use of
            telehealth services. You can talk to your health care provider
            online through video or email, or by phone. ... Learn what days are
            busiest and what times are best to call.
          </p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img
            src="assets/call health care provider.jpg"
            width="250"
            height="250"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-6">
      <div
        class="
          row
          g-0
          border
          rounded
          overflow-hidden
          flex-md-row
          mb-4
          shadow-sm
          h-md-250
          position-relative
        "
      >
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">FIVE</strong>
          <h3 class="mb-0">Consult Doctor</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">
            Maximise fit or double mask,Wash your hands regularly,Watch your
            distance,Limit exposure and slow the spread,Get vaccinated if u have
            already,Be aware of coronavirus variants.
          </p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg
            class="bd-placeholder-img"
            width="200"
            height="250"
            xmlns="http://www.w3.org/2000/svg"
            role="img"
            aria-label="Placeholder: Thumbnail"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          >
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c" />
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
          </svg>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div
        class="
          row
          g-0
          border
          rounded
          overflow-hidden
          flex-md-row
          mb-4
          shadow-sm
          h-md-250
          position-relative
        "
      >
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">SIX</strong>
          <h3 class="mb-0">Wear Mask</h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="mb-auto">
            Clean your hands before you put your mask on, as well as before and
            after you take it off, and after you touch it at any time. Make sure
            it covers both your nose, mouth and chin. When you take off a mask,
            store it in a clean plastic bag, and every day either wash it if
            it’s a fabric mask, or dispose of a medical mask in a trash bin.
            Don’t use masks with valves..
          </p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg
            class="bd-placeholder-img"
            width="200"
            height="250"
            xmlns="http://www.w3.org/2000/svg"
            role="img"
            aria-label="Placeholder: Thumbnail"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          >
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c" />
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-6">
      <div
        class="
          row
          g-0
          border
          rounded
          overflow-hidden
          flex-md-row
          mb-4
          shadow-sm
          h-md-250
          position-relative
        "
      >
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">SEVEN</strong>
          <h3 class="mb-0">Wash Hands</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">
            Wet your hands with clean, running water (warm or cold), turn off
            the tap, and apply soap. Lather your hands by rubbing them together
            with the soap. Lather the backs of your hands, between your fingers,
            and under your nails. Scrub your hands for at least 20 seconds. Need
            a timer? Hum the “Happy Birthday” song from beginning to end twice.
            Rinse your hands well under clean, running water. Dry your hands
            using a clean towel or air dry them.
          </p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="assets/wash hands.jpg" width="250" height="250" />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div
        class="
          row
          g-0
          border
          rounded
          overflow-hidden
          flex-md-row
          mb-4
          shadow-sm
          h-md-250
          position-relative
        "
      >
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">EIGHT</strong>
          <h3 class="mb-0">Use Sentizers</h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="mb-auto">
            Apply the gel product to the palm of one hand (read the label to
            learn the correct amount). Rub your hands together. Rub the gel over
            all the surfaces of your hands and fingers until your hands are dry.
            This should take around 20 seconds Sanitizers do not get rid of all
            types of germs. Hand sanitizers may not be as effective when hands
            are visibly dirty or greasy. Hand sanitizers might not remove
            harmful chemicals from hands like pesticides and heavy metals.
          </p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="assets/use sanitizer.jpg" width="250" height="250" />
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-6">
      <div
        class="
          row
          g-0
          border
          rounded
          overflow-hidden
          flex-md-row
          mb-4
          shadow-sm
          h-md-250
          position-relative
        "
      >
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">NINE</strong>
          <h3 class="mb-0">Avoid Touch</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">
            If you can tune out the noise of the widespread panic around the new
            coronavirus, the advice from the World Health Organization (WHO) on
            how to protect yourself from COVID-19 is simple: stay home if you’re
            sick, don’t get too close to anyone who’s coughing or sneezing, wash
            your hands a lot, and stop touching your face so much. But honestly,
            that last bit of advice is often easier said than done. .
          </p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="assets/avoid touch.png" width="250" height="250" />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div
        class="
          row
          g-0
          border
          rounded
          overflow-hidden
          flex-md-row
          mb-4
          shadow-sm
          h-md-250
          position-relative
        "
      >
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">TEN</strong>
          <h3 class="mb-0">Social Distancing</h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="mb-auto">
            Know before u go,Prepare for Transportation,Limit Contact When
            Running Errands,Choose Safe Social Activities,Keep Distance at
            Events and Gatherings,Stay Distanced While Being Active.
          </p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="assets/social distancing.jpg" width="250" height="250" />
        </div>
      </div>
    </div>
  </div>

  <%- include("main/footer"); -%>
</div>
