<%- include("main/header"); -%>

<div class="main mm2" style="padding-top: 7vh">
  <div class="maindiv">
    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-12 col-sm-12 col-lg-6 text-center">
        <!-- <img
            src="assets/covid.jpg"
            class="d-block mx-lg-auto img-fluid"
            alt="Bootstrap Themes"
            width="700"
            height="500"
            loading="lazy"
          />  -->
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">AceCare</h1>
          <p class="lead ">
            Connecting people who need help with who can help Lorem ipsum dolor
            sit amet, consectetur adipisicing elit. Commodi, impedit nemo!
            Libero id voluptatum quas repellendus omnis maxime inventore est!
          </p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a  href="/signup" type="button" class="btn  btn-lg px-4 me-md-2" style="background-color: #7986CB;color: aliceblue;">
              Sign up now
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="maindiv3">
    <h1 class="display-4 fw-bold ">How AceCare Works?</h1>
<div class="maincus container p-4">
  <div class="col-12 col-md-12 col-lg-12 mx-auto">
    <p class="lead mb-1 text-light">
      AceCare connects people by showing posts created by people who need help
      to people who are willing to help. people can also add resources that are needed
      in time of situations like Covid-19 to help people and Crysis and pandemic Save Lives
    </p>
    <div class="d-grid gap-0 d-sm-flex justify-content-sm-center ">
      <img
          src="assets/sd.svg"
          class="d-block mx-lg-auto img-fluid mt-5"
          alt="Bootstrap Themes"
          width="700"
          height="500"
          loading="lazy"
        />
    </div>
  </div>
</div>
    
</div>
<div class="maindiv2 " >
  <h1 class="display-4 fw-bold ">How To Use AceCare?</h1>
<div class="maincus container p-4">
<div class="col-lg-12 mx-auto">
  <p class="lead mb-1 text-light">
    Quickly design and customize responsive mobile-first sites with
    Bootstrap, the world’s most popular front-end open source toolkit,
    featuring Sass variables and mixins, responsive grid system, extensive
    prebuilt components, and powerful JavaScript plugins.
  </p>
<div style="width: 100%;height: auto;">
<div style="display: flex;justify-content: center;align-items: center;flex-wrap: wrap;">
  <img src="assets/2.png" class=" anim p-3" >
  <img src="assets/2.png" class=" anim">
</div>
<div style="display: flex;justify-content: center;align-items: center;flex-wrap: wrap;">
  <img src="assets/3.png" class="p-2 anim2">
  <img src="assets/4.png" class="p-2 anim2">
  <img src="assets/5.png" class="p-2 anim2">
</div>
</div>
</div>
</div>
  
</div>
    <%- include("main/footer"); -%>
  </div>
</div>
